html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Desarrollo propio para el estilo de las paginas*/

.contenedor_principal {
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border: 1px solid #080baa;
    margin: 5px,0,5px,0;
    padding: 0.65rem;
}

.navbar_principal {
    background: rgba(32,124,229,1);
    border-radius: 0 0 17px 17px;
    -moz-border-radius: 0 17px 0 17px;
    -webkit-border-radius: 0 0 17px 17px;
    position: relative;
    overflow: hidden;
}
.topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Texto_navbar {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: rgb(255, 255, 255);
    font-size:24px;
    text-decoration: none;
    padding-right:2em;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar_texto_principal {
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 5rem;
    margin-left: 2rem;
    font-size: 28px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.navbar_texto_principal:hover {
    color: #fff;
    text-align: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 5rem;
    font-size: 36px;
    text-decoration: none;
    white-space: nowrap;
}

.panel-detalle{
    margin:1rem;
}

.button-consulta {
    margin-top: 1rem;
    border-color: #ffffff;
    background: #0d6efd;
    color: white;
}

    .button-consulta:hover {
        border-color: #172eb6;
        background: #0b5ed7;
        color: white;
    }
.button-regresar {
    margin-top: 1rem;
    border-color: #ffffff;
    background: #dc3545;
    color: white;
}

    .button-regresar:hover {
        border-color: #a5a70f;
        background: #bb2d3b;
        color: white;
    }

.button-confirmacion-si{
    width:30%;
    margin-right:10px;
}
.button-confirmacion-no {
    width: 30%;
}

.etiqueta-en-boton {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.etiqueta-en-boton:hover {
    text-decoration: none;
    color: white;
}

.tabla-columna-center-text{
    background:#3a7aff;
    color:white;
    text-align:center;
}
.columna-center-text{
    color:black;
    text-align:start;
    font-weight:bold;
}

.tabla-contenedor {
    border: 1px solid #0b0d33;
}
.contenedor-layout-principal{
    width:95%;
    margin-left:2rem;
}


/*Estilos para modales div*/

.modal {
    display: none; /* Hidden by default */
    position: center; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 19%;
    height:20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-content-estilo{
    border-radius:10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: rgba(32,124,229,1);
    color: white;
}

.modal-body-custom {
    width:100%;
    padding: 12px 16px;
    text-align:center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/*Separacion*/
.sefmentacion{
    color:white;
    background: rgb(255, 255, 255);
    border:solid 1px rgb(255, 255, 255);
}