@model Modelo.Modelo.TablasCatalogo.BancoProveedor

 <!-- Espacio modal -->
<form>
  <div class="modal fade" id="DeleteBank" role="dialog">
   <div class="modal-dialog">
     <!-- Modal Contenido interno-->
     <div class="modal-content modal-content-estilo">
       <div class="modal-header  d-flex flex-column">
           <button type="button" class="close align-self-end" data-dismiss="modal">&times;</button>
          <div class="align-self-center">
           <h4 clas>¿Estas seguro de dar baja? @Model.Nombre </h4>
          </div>
       </div>
       <div class="modal-body-custom">
          <button name="btn_confirmar" type="submit" asp-action="Redireccionar" asp-route-id="@Model.IdBanco" class="btn-primary button-confirmacion-si">Si</button>
          <button name="btn_cancelar" data-dismiss="modal" class="btn-danger button-confirmacion-no">No</button>
       </div>
     </div>
   </div>
 </div>
</form>

@*<div class="modal fade" id="DeleteBank" role ="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Delete_title">¿Esta seguro que desea eliminar este registro?</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" asp-for="IdBanco" />
                         <label asp-for=Nombre class="control-label"></label>
                        <input asp-for=Nombre class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for=Direccion class="control-label"></label>
                        <input asp-for=Direccion class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button name="btn_confirmar" type="button" asp-action="Delete" asp-route-id=@Model.IdBanco data-dismiss="modal" class="btn-primary button-confirmacion-si">Si</button>
                <button name="btn_cancelar" type="button" data-save="modal" class="btn-danger button-confirmacion-no">No</button>
            </div>
        </div>
    </div>
</div>*@