<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sumexsa</title>  
    @*---------------------------*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sumexsa.styles.css" asp-append-version="true" />
    <link href="~/css/estilos_personalizados.css" rel="stylesheet" type="text/css" />
    @*-------------------------*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version=true></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @*------------------------*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar_texto_principal" asp-area="" asp-controller="Home" asp-action="Index">Sumexsa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="Texto_navbar" asp-area="" asp-controller="ClienteImportador" asp-action="Index">Importador</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="dropdown-toggle Texto_navbar" style="color:white" id="gt_cliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion de Clientes
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="gt_cliente">
                            <li class="li-custom">Gestion interna de clientes</li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="Texto_navbar dropdown-item" asp-area="" asp-controller="ClienteProveedor" asp-action="Index">Gestionar Cliente</a></li>
                            <li><button type="submit" class="Texto_navbar dropdown-item"  data-toggle="modal" data-target="#Modal_Layout"><a>Gestionar Bancos</a>
                            </button></li>
                            <li><button type="submit" class="Texto_navbar dropdown-item"  data-toggle="modal" data-target="#Modal_Layout"><a>Gestionar Cuentas Bancarias</a>
                            </button></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="li-custom">Gestion de procesos</li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="Texto_navbar dropdown-item" asp-area="" asp-controller="ClienteProveedor" asp-action="Index">Gestion de casos</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="Texto_navbar" asp-area="" asp-controller="Home" asp-action="Index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="Texto_navbar" asp-area="" asp-controller="Home" asp-action="Privacy">Ofertas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @*Aqui estara la funcionalidad para pasar los parametros de cada registro a funciones en C#*@
             <form asp-controller="Home">
                <div class="container">
                  <!-- Espacio modal -->
                  <div class="modal fade" id="Modal_Layout" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal Contenido interno-->
                      <div class="modal-content modal-content-estilo">
                        <div class="modal-header  d-flex flex-column">
                            <button type="button" class="close align-self-end" data-dismiss="modal">&times;</button>
                           <div class="align-self-center">
                            <h4 clas>¿Que tipo de gestión desea realizar?</h4>
                           </div>
                        </div>
                        <div class="modal-body-custom">
                           <button name="btn_gestionBancoProveedor" type="submit" asp-action="Redireccionar" asp-route-ruta=1 class="btn-primary button-confirmacion-si">Gestionar banco de cliente</button>
                           <button name="btn_gestionCuentaProveedor" type="submit" asp-action="Redireccionar" asp-route-ruta=2 class="btn-primary button-confirmacion-no">Gestionar cuenta de cliente</button>
                           <button name="btn_gestionBancoInternacional" type="submit" asp-action="Redireccionar" asp-route-ruta=3 class="btn-primary button-confirmacion-no">Gestionar banco internacional</button>
                        </div>
                      </div>
@*                      <div class="modal-footer">
                          <div class="modal-content-estilo align-content-center">
                              <h5>Suministros del exterior S.A</h5>
                          </div>
                      </div>*@
                    </div>
                  </div>
                </div>
            </form> 
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
